<div class="left-topic" style="text-align: center;">
	<p><input type="text" class="input-text" placeholder="Логин" name="login"></p>
	<p><input type="text" class="input-text" placeholder="Пароль" name="password"></p>
	<p><button>Войти</button></p>
</div>