<div class="left-topic" style="border:none;">
	<ul class="left-menu">
		<li> <span> Меню </span> </li>
		<li> <span> Регистрация </span> </li>
		<li> <span> Авторизация </span> </li>
		<li> <span> О нас </span> </li>
	</ul>
</div>