﻿<!doctype html>
<html>
<head>
	<title>{{title}}</title>

	<link href="static/style/style.css" rel="stylesheet" type="text/css" /> 
	<link href="static/style/input.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
		<header>
			<nav>
				<ul class="top-menu">
					<li> Главная  </li>
					<li> Книги </li>
					<li> Новости </li>
					<li> Информация</li>
					<li> Популярное </li>
				</ul>
			</nav>
			<div>
				<img src="static/image/logo.jpg" class="logo"/>
			</div>
		</header>

		<div id="main">

			<aside>

			</aside>

			<div id="content">
				
				<div class="main-topic">

				</div>

			</div>
		</div>
	</div>
	<footer></footer>
</body>